*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial,;
    background-color: aqua;
    margin-top: 15%;
    text-align: center;
}
h1{
    text-align: center;
    margin: 60px;
    color: darkcyan;
    font-size: 70px;
}
#n1{
    font-size: 40px;
    height: 45px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    width: 500px;
    align-self: center;
}
#n2{
    font-size: 40px;
    height: 45px;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    width: 500px;
    align-self: center;
}
#button{
    align-self: center;
    width: 300px;
    color: mediumturquoise;
    background-color: white;
    font-size: 40px;
    height: 45px;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
}